* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40%, #58BEE3 70%, #58BEE3 100%);

}

.container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.logo {
    max-width: 200px;
}

.title {
    margin: 20px 0;
    text-align: center;
}

.form label {
    font-size: 20px;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-size: 15px;
    padding: 0 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    /* estilos para a borda quando estiver em "focus" */
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.input:focus {
    background-color: #e0f7fa;
}

.button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.calcular {
    background-color: #e7e7e7;
    color: #000;
}

.calcular:hover {
    background-color: #FFF;
}

.resetar {
    background-color: #000;
    color: white;
    margin-top: 5px;
}

.resetar:hover {
    background-color: #212121;
}

.result {
    width: 100%;
    max-width: 420px;
    padding: 20px 25px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    height: 6.7rem;
    /* Inicialmente invisível */
    visibility: hidden;
    transition: transform 0.8s;
}

.result.visible {
    visibility: visible;
}

.result:hover {
    transform: scale(1.1);
}

.result.verde {
    background-color: green;
}

.result.amarelo {
    background-color: yellow;
}

.result.vermelho {
    background-color: red;
}

.result-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.result-numbers {
    font-weight: bold;
    font-size: 20px;
}